body{
  background-image: url(image.png);
  background-size:cover ;
}
.auth-form-container {
  position: relative;
  top:100px;
  max-width: 400px;
  margin: 50px auto;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  /* background: #f9f9f9; */
  background: #fff3e6;
  font-family: 'Segoe UI', sans-serif;
}

.auth-form-container h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

.auth-form-container input {
  width: 100%;
  padding: 0.7rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
}

.auth-form-container button {
  width: 100%;
  padding: 0.8rem;
  background-color: #2f80ed;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-form-container button:hover {
  background-color: #1366d6;
}
.auth-form-container a {
  text-align: center;
  text-decoration: underline;
  color: #333c42;
  font-size: 0.95rem;
}


@media (max-width: 600px) {
  .auth-form-container {
    width: 75%;
    padding: 1rem;
    font-size: 0.9rem;
  }

  .auth-form-container h2,
  .auth-form-container p {
    font-size: 1rem;
    text-align: center;
  }
  .auth-form-container input {
  width: 90%;
  padding: 0.7rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
  }

  button {
    width: 100%;
  }
}

