
.footer {
  background-color: #222;
  color: #ddd;
  text-align: center;
  padding: 0.2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
  margin-top: 2rem;
  font-size: 0.9rem;
 
}
@media (max-width: 600px) {
  .footer {
    font-size: 0.8rem;
    padding: 0.7rem;
  }
}